* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #f3f4f6;
    padding: 40px 80px;
}

.head {
    text-align: center;
    line-height: 1.8;
    margin-bottom: 25px;
}


.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(1, 1, 1, 0.05);
}

/* card head */
.card-head {
    display: flex;
    justify-content: space-between;

}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-head button {
    padding: 6px;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 3px;

}

.card-head button:active {
    background-color: #f3f4f6;
}

/* card body */
.card-body {
    line-height: 1.8;
    border-bottom: 1px solid #f3f4f6;
    padding: 15px 0px 20px 0px;
    margin-bottom: 15px;
}

.card-body p {
    display: flex;
    gap: 15px;

}

.tags span {
    font-size: 14px;
    background-color: #f3f4f6;
    border-radius: 15px;
    padding: 05px 15px;
    margin-right: 5px;
}

/* card footer */
.card-footer {
    display: flex;
    justify-content: space-between;
}

.card-footer p {
    font-size: 14px;
    color: #c5c8cd;
    margin-top: 5px;
}

.card-footer button {
    background-color: #111827;
    border: none;
    color: white;
    padding: 0px 20px;
    border-radius: 10px;
}

@media (max-width: 992px) {
    body {
        padding: 30px 40px;
    }

    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    body {
        padding: 20px;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .card-footer {
        flex-direction: column;
        gap: 10px;
    }

    .card-footer div {
        display: flex;
        justify-content: space-between;
    }

    .card-footer button {
        width: 100%;
        padding: 10px;
    }
}